@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --purple: #6415ff;
    --font-dark: #1a202c;
    --font-light: #7c8ba1;
    --gray-border: rgb(229, 231, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
    line-height: 1.5;
    transition: all 300ms ease;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    color: var(--font-dark);
    font-size: 48px;
    line-height: 1.25;
}

p {
    font-size: 18px;
}

img {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

button {
    cursor: pointer;
}

.btn-type1 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 32px;
    background: var(--purple);
    border-radius: 500px;
    border: none;
}

a {
    cursor: pointer;
}

.btn-type1:hover{
    background-color: rgba(80, 17, 204);
}

.section__tag {
    color: var(--purple);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 0.025em;
    line-height: 1.25;
}

.section__description {
    color: var(--font-light);
    font-size: 18px;
    font-weight: 500;
    max-width: 576px;
}

/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
}

.nav__logo--text {
    font-weight: 900;
    font-size: 24px;
    margin-left: 8px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    border-bottom: 2px solid transparent;
    line-height: 2;
}

.nav__link:hover {
    border-bottom: 2px solid #6415ff;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--primary:hover {
    border: none
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.header__description--text {
    margin: 32px 0;
}

.header__img{
    width: 60%;
}

.header__img--main {
    width: 100%;
}

.header__email {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 448px;
    width: 100%;
}

.email__input {
    border-radius: 500px;
    border: 2px solid var(--gray-border);
    padding: 18px 24px;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.email__input::placeholder {
    color: rgb(158, 170, 189);
    font-weight: 500;
}

.email__input:hover {
    border-color: rgba(160, 174, 192);
}

.email__input:focus {
    border-color: var(--purple);
}

.email__btn {
    position: absolute;
    margin: 8px;
}

.header__customers p {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__customers--img {
    opacity: 0.5;
    padding-right: 128px;
    margin-top: 16px;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .container {
    padding: 80px 0;
}

#features .section__description, #pricing .section__description {
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    display: flex;
    width: calc(100% / 3);
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
}

.feature__row {
    display: flex;
    padding: 32px 24px;
    align-items: flex-start;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border-radius: 500px;
    border: 1px solid var(--gray-border);
}

.feature__img {
    width: 24px;
}

.feature__text--title {
    font-size: 24px;
    font-weight: 700;
}

.feature__text--description {
    color: var(--font-light);
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    max-width: calc(634px / 3);
    line-height: 2;
}

/* 

QUALITY WORK ↓

*/

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description, .quality__img--wrapper, .steps__description, .steps__img--wrapper, .testimonials__description, .testimonials__img--wrapper, .values__description, .values__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}

.quality__img--wrapper {
    position: relative;
    border: 1px solid var(--gray-border);
    margin: 0 56px;
    background-color: white;
    display: flex;
    z-index: 2;
}

.quality__img {
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
}

#quality button, #values button {
    font-size: 14px;
    padding: 10px 32px;
    margin-top: 32px;
}

/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__image {
    z-index: 2;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: 0;
    color: rgb(100, 21, 255);
    fill: currentColor;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: 600;
    color: #cbd5e0;
}

.step__content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.step__text {
    color: var(--font-light);
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
    margin-top: 12px;
}

/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__list {
    display: flex;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
}

.value__top {
    display: flex;
    align-items: center;
}

.value__icon--wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #9ae6b4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value:nth-child(2) .value__icon--wrapper {
    background-color: #feb2b2;
}

.value__icon {
    width: 20px;
    fill: rgba(39, 103, 73, 1);
}

.value__title {
    margin-left: 12px;
    font-weight: bold;
    font-size: 20px;
}

.value__desc {
    color: var(--font-light);
    margin-top: 16px;
}

/*

PRICING ↓

*/

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    justify-content: space-between;
    text-align: center; 
    text-wrap: nowrap;
    margin-top: 32px;
    width: 100%;
    position: relative;
}

.plans__blob {
    position: absolute;
    left: -110px;
    bottom: -281px;
    width: 256px;
    opacity: 0.25;
    z-index: -1;
}

.plan {
    border: 1px solid var(--gray-border);
    border-radius: 8px;
    margin: 24px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.plan__top, .plan__middle, .plan__bottom {
    padding: 32px 0px;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__target, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: white;
}

.plan:nth-child(2) .plan__button {
    color: var(--purple);
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__name, .plan__price, .plan__target {
    color: black;
}

.plan__name, .plan__target {
    font-size: 20px;
    font-weight: 600;
}

.plan__price {
    font-size: 48px;
    font-weight: 700;
}

.plan__duration, .plan__feature {
    font-size: 16px;
}

.plan__duration {
    font-weight: 600;
    color: #a0aec0;
}

.plan__feature {
    margin: 20px;
    color: var(--font-light);
}

.plan__middle {
    border-top: 2px solid var(--gray-border);
    border-bottom: 2px solid var(--gray-border);
}
.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border-radius: 500px;
    outline: none;
    border: none;
    padding: 16px 64px;
}

.plan__button:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
    display: flex;
    align-items: center;
}

.testimonials__description {
    padding-left: 64px;
}

.testimonials {
    margin-top: 40px;
}

.testimonial__rating svg path {
  fill: rgb(246 173 85);
}

.testimonial__title {
    margin-top: 16px;
}

.testimonial__para {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.testimonal__bottom {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__bottom--img {
    border-radius: 50%;
    width: 80px;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__details--name {
    font-size: 20px;
    font-weight: 700;
}

.testimonial__details--title {
    color: var(--font-light);
}

.testimonial__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.testimonial__button {
    padding: 16px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__button svg {
    width: 16px;
}

.testimonial__buttons button:nth-child(2) {
    transform: rotate(180deg);
}

.testimonial__button:hover {
  background-color: rgb(229, 231, 235);
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(5rem, -16rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__title, .start__buttons {
    width: 50%;
}

.start__title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
}

.start__button {
    text-wrap: nowrap;
    color: white;
    border: none;
    border-radius: 500px;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
}

.btn1 {
    background: #f56565;
    margin-right: 32px;
    z-index: 2;
}

.btn1:hover {
    background-color: rgba(229, 62, 62);
}

.btn2 {
    background: none;
    border: 1px solid white;
    z-index: 2;
    background-color: rgb(100, 21, 255);
}

.btn2:hover {
    background-color: rgba(247, 250, 252);
    color: rgba(100, 21, 255);
}

/* 

FOOTER ↓

*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom: 2px solid rgb(116, 44, 255);
    flex-wrap: wrap;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__title {
    color: white;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 16px;
    z-index: 2;
}

.footer__link {
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.5;
    z-index: 2;
}

.footer__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px; 
    cursor: pointer; 
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 32px;
}

.footer__logo--text {
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    z-index: 2;
    font-size: 12px;
    display: flex;
}

.icon {
    background: white;
    border-radius: 50%;
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 8px;
}

.icon:hover {
    background: rgba(203, 213, 224);
    cursor: pointer;
}

/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
    h1 {
        font-size: 36px;
        line-height: 1.25;
    }
    .header__description--text {
        font-size: 16px;
    }
    .header__img {
        max-width: 512px;
    }
    .testimonials__img--wrapper {
        width: 40%;
    }
    .testimonials__description {
        width: 60%;
    }
    .steps__grid {
        height: 5rem;
        width: 5rem;
        bottom: -50px;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row, .header__content {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
    .nav__links {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    .header__description {
        width: 100%;
        text-align: center;
        max-width: 512px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__customers--img {
        padding: 0;
    }
    .header__img {
        width: 100%;
    }
    .header__description--text {
        margin: 20px 0;
    }
    .header__customers p, .header__img {
        margin-top: 48px;
    }
    .services {
        max-width: 768px;
    }
    .service {
        width: calc(100% / 2);
    }
    #features .section__title, #pricing .section__title {
        font-size: 48px;
        text-align: center;
    }
    .feature__text--description {
        max-width: none;
    }
    .section__title {
        font-size: 36px;
    }
    .values__list {
        flex-direction: column;
    }
    .plans {
        flex-direction: column;
        align-items: center;
        max-width: 384px;
    }
    .section__description {
        font-size: 16px;
    }
    .start__row {
        flex-direction: column;
    }
    .start__title {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }
    .start__buttons {
        margin-top: 24px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
    .services {
        justify-content: center;
    }
    .service {
        max-width: 384px;
        width: 100%;
    }
    .quality__img--wrapper, .quality__description, .steps__img--wrapper, .steps__description, .values__img--wrapper, .values__description, .testimonials__img--wrapper, .testimonials__description {
        width: 100%;
        max-width: 448px;
    }
    .quality__description, .steps__description, .values__description, .testimonials__description {
        margin-top: 64px;
        text-align: center;
        margin-right: 0;
        padding: 0;
    }
    .step, .footer__bottom {
        flex-direction: column;
        align-items: center;
    }
    .step__content {
        margin-left: 0;
    }
    .value__top {
        justify-content: center;
    }
    .footer__column {
        width: calc(100% / 3);
        margin-top: 48px;
    }
    .footer__links {
        margin-top: -48px;
    }

    .footer__links {
        justify-content: flex-start;
    }
    .footer__copyright, .footer__socials {
        margin-top: 32px;
    }
    .section__description {
        font-size: 14px;
        text-align: center;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
    .header__email {
        flex-direction: column;
    }
    .email__btn {
        position: static;
        width: 100%;
    }
    .feature__row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .service {
        justify-content: center;
    }
    .service__description {
        margin-top: 16px;
        margin-left: 0;
    }
    #features .section__title, #pricing .section__title {
        font-size: 36px;
    }
    #quality .section__title, #values .section__title, #testimonials .section__title {
        font-size: 30px;
    }
    .plan__price {
        font-size: 36px;
    }
    .testimonial__profile, .testimonal__bottom  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .testimonial__buttons {
        margin-top: 24px;
    }
    .testimonial__bottom--img {
        width: 64px;
    }
    .testimonial__details {
        margin-top: 8px;
        margin-left: 0;
    }
    .start__title {
        font-size: 24px;
    }
    .start__buttons {
        flex-direction: column;
        align-items: center;
    }
    .start__button {
        padding: 12px 24px;
        font-size: 14px;
    }
    .btn1 {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .footer__links {
        justify-content: center;
    }
    .footer__column {
        width: auto;
        text-align: center;
        align-items: center;
        padding: 0 16px;
    }
    .footer__copyright {
        font-size: 14px;
        text-align: center;
    }
    .btn-type1 {
        text-align: center;
        margin-top: 16px;
    }
    .header__customers p {
        font-size: 14px;
    }
}